automation/workflows/on-org-updated-notify.json
{
  "name": "on org_structure.updated -> notify (EVENT)",
  "meta": {
    "description": "Fired by the platform event->n8n bridge at POST /webhook/ev/org_structure.updated. Verifies the bridge secret, DEDUPES on the envelope id (bridge is at-least-once), then raises an IN-APP notification for the ops lead via the hub `notify` tool (no external channel). Scoped identity wf:org-updated-notify -> [notify] (LOW write). Env: N8N_BRIDGE_SECRET, HUB_SERVICE_TOKEN, NOTIFY_USER_ID."
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ev/org_structure.updated",
        "responseMode": "responseNode"
      },
      "name": "Webhook: bridge ev/org_structure.updated",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "6958a467-ddbd-4cca-965b-ad578a30d797"
    },
    {
      "parameters": {
        "jsCode": "// Fail-closed on the bridge secret, then dedupe on the envelope id (at-least-once delivery).\nconst got = $input.first().json.headers?.['x-gaiada-bridge-secret'];\nif (!got || got !== $env.N8N_BRIDGE_SECRET) throw new Error('bad bridge secret');\nconst e = $input.first().json.body ?? {};\nif (e.v !== 1) throw new Error(`unexpected envelope version ${e.v}`);\nconst store = $getWorkflowStaticData('global');\nstore.seen = store.seen || {};\nconst dup = Object.prototype.hasOwnProperty.call(store.seen, e.id);\nif (!dup) {\n  store.seen[e.id] = Date.now();\n  const ids = Object.keys(store.seen);\n  if (ids.length > 1000) for (const k of ids.slice(0, ids.length - 1000)) delete store.seen[k];\n}\nreturn [{ json: { dup, tenantId: e.tenantId, entityId: e.entityId, at: e.createdAt } }];"
      },
      "name": "Verify secret + dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "is-dup",
              "leftValue": "={{ $json.dup }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, deduped: true }) }}"
      },
      "name": "Respond (dedup skip)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-hub:3003/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.HUB_SERVICE_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "x-obo-provider", "value": "n8n" },
            { "name": "x-obo-external-id", "value": "wf:org-updated-notify" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: \"2.0\", id: 1, method: \"tools/call\", params: { name: \"notify\", arguments: { tenantId: $json.tenantId, recipientId: $env.NOTIFY_USER_ID, type: \"org_structure_updated\", payload: { entityId: $json.entityId, at: $json.at } } } }) }}",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "name": "MCP notify (in-app)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 120]
    },
    {
      "parameters": {
        "jsCode": "// Surface a hub/tool error as a workflow failure (the hub replies 200 with isError on denial).\nconst raw = $input.first().json.data ?? $input.first().json.body ?? '';\nconst line = String(raw).split('\\n').find((l) => l.startsWith('data:')) ?? '';\nconst rpc = JSON.parse(line.slice(5).trim());\nif (rpc.result?.isError) throw new Error(rpc.result.content?.[0]?.text ?? 'notify failed');\nreturn [{ json: { ok: true } }];"
      },
      "name": "Parse notify result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}"
      },
      "name": "Respond (done)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 120]
    }
  ],
  "connections": {
    "Webhook: bridge ev/org_structure.updated": {
      "main": [[{ "node": "Verify secret + dedupe", "type": "main", "index": 0 }]]
    },
    "Verify secret + dedupe": {
      "main": [[{ "node": "Duplicate?", "type": "main", "index": 0 }]]
    },
    "Duplicate?": {
      "main": [
        [{ "node": "Respond (dedup skip)", "type": "main", "index": 0 }],
        [{ "node": "MCP notify (in-app)", "type": "main", "index": 0 }]
      ]
    },
    "MCP notify (in-app)": {
      "main": [[{ "node": "Parse notify result", "type": "main", "index": 0 }]]
    },
    "Parse notify result": {
      "main": [[{ "node": "Respond (done)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "pinData": {}
}
