automation/workflows/stale-approval-chaser.json
{
  "name": "stale-approval-chaser (CRON)",
  "meta": { "description": "Hourly: list pending agency approvals via MCP and post a nudge to the notify channel. Read-only; no business logic. Scoped identity wf:stale-approval-chaser -> [agency.pendingApprovals]. Env: HUB_SERVICE_TOKEN, AGENCY_TENANT_ID, NOTIFY_WEBHOOK_URL." },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "hoursInterval": 1 }] } },
      "name": "Every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-hub:3003/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.HUB_SERVICE_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "x-obo-provider", "value": "n8n" },
            { "name": "x-obo-external-id", "value": "wf:stale-approval-chaser" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: \"2.0\", id: 1, method: \"tools/call\", params: { name: \"agency.pendingApprovals\", arguments: { tenantId: $env.AGENCY_TENANT_ID } } }) }}",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "name": "MCP tools/call agency.pendingApprovals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parse the hub's SSE-framed JSON-RPC reply, then build a nudge only if approvals are pending.\nconst raw = $input.first().json.data ?? $input.first().json.body ?? '';\nconst line = String(raw).split('\\n').find((l) => l.startsWith('data:')) ?? '';\nconst rpc = JSON.parse(line.slice(5).trim());\nif (rpc.result?.isError) throw new Error(rpc.result.content?.[0]?.text ?? 'tool error');\nconst approvals = JSON.parse(rpc.result?.content?.[0]?.text ?? '[]');\nif (!Array.isArray(approvals) || approvals.length === 0) return []; // nothing pending -> stop\nconst lines = approvals.map((a) => `\\u2022 ${a.subject ?? a.id} (${a.campaign ?? 'campaign'})`).join('\\n');\nreturn [{ json: { text: `\\u23f3 ${approvals.length} approval(s) still pending:\\n${lines}` } }];"
      },
      "name": "Build nudge (skip if none)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFY_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text }) }}"
      },
      "name": "Notify channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Every hour": { "main": [[{ "node": "MCP tools/call agency.pendingApprovals", "type": "main", "index": 0 }]] },
    "MCP tools/call agency.pendingApprovals": { "main": [[{ "node": "Build nudge (skip if none)", "type": "main", "index": 0 }]] },
    "Build nudge (skip if none)": { "main": [[{ "node": "Notify channel", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "pinData": {}
}
