automation/workflows/summarize-via-mcp.json
{
  "name": "summarize-via-mcp (template)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize",
        "responseMode": "responseNode"
      },
      "name": "Webhook: POST /webhook/summarize {text}",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "b87b8c3c-d724-4f5e-b164-2e85ab4ba885"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-hub:3003/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HUB_SERVICE_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json, text/event-stream"
            },
            {
              "name": "x-obo-provider",
              "value": "n8n"
            },
            {
              "name": "x-obo-external-id",
              "value": "wf:summarize-via-mcp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: \"2.0\", id: 1, method: \"tools/call\", params: { name: \"llm.summarize\", arguments: { text: $json.body.text } } }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "MCP tools/call llm.summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// The hub answers in SSE framing: 'event: message\\ndata: {jsonrpc...}'.\n// Extract the data line, parse the JSON-RPC result, return the tool text.\nconst raw = $input.first().json.data ?? $input.first().json.body ?? '';\nconst line = String(raw).split('\\n').find((l) => l.startsWith('data:')) ?? '';\nconst rpc = JSON.parse(line.slice(5).trim());\nif (rpc.result?.isError) throw new Error(rpc.result.content?.[0]?.text ?? 'tool error');\nreturn [{ json: { summary: rpc.result?.content?.[0]?.text ?? '' } }];"
      },
      "name": "Parse SSE → summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "Webhook: POST /webhook/summarize {text}": {
      "main": [
        [
          {
            "node": "MCP tools/call llm.summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP tools/call llm.summarize": {
      "main": [
        [
          {
            "node": "Parse SSE → summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SSE → summary": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {}
}